html {
  font-family: 'Open Sans', sans-serif;
}

body {
  /* width: 960px; */
  /* margin: 10px auto; */
  background-color: white;
}

header {
  width: 960px;
  height: 192px;
  margin: 10px auto;
}

p {
  font-size: 11pt;
}

a {
  text-decoration: none;
  color: hotpink;
}

.doubleFlex {
  display: flex;
  justify-content: center;
  margin: 0 5%;
}

.doubleFlexWords {
  margin: 3px;
  padding: 5px 30px 5px 30px;

  border: 2px solid aliceblue;
  border-right-style: none;
  border-bottom-style: none;
  border-top-left-radius: 5px;

  color: black;
}

.doubleFlexWords > h2 {
  text-align: center;
}

.doubleFlex >  div {
  align-self: flex-start;

  margin: 3px;
  padding: 20px;

  background-color: white;
  border: 1px solid #efd6f5; /* lightplum */
  border-radius: 7px;
  /* color: #0000cc;*/
}
